  <div class="top-container">
    <div class="top-left-content">
      <h1>Origin Idea</h1>
      <p>アイデアを形にするマッチングサービス</p>
      <%= link_to "始めてみる", user_session_path, class: "top-btn" %>
    </div>
    <div class="top-right-content">
      <%= image_tag "top_logo.svg", alt: "Origin Idea" %>
    </div>
  </div>